body{
    background-color: blueviolet;
    font-weight: bold;
}

input,select{
    width: 90%;
    padding: 8px;
    margin-top: 8px;
}

#out{
     width: 400px;
            background: white;
            padding: 20px;
            margin: 50px auto;
            border-radius: 8px;
            box-shadow: 0 0 10px gray;
}

button {
            margin-top: 15px;
            padding: 10px;
            width: 100%;
            background: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        span {
            color: red;
            font-size: 14px;
        }